.about__main__container--contenido {
  display: flex;
  margin-top: 21px;
  text-align: justify;
}

.about__main__div--container {
  padding: 12px;
}

.about__article__two--container {
  margin-top: 21px;
  margin-bottom: 120px;
  text-align: justify;
}

.contact__main__h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: underline rgb(152, 152, 240);
}

.contact__main__div--complete {
  margin-top: 21px;
  margin-bottom: 120px;
}

.footer__index__footer {
  width: 100%;
  height: 96px;
  padding: 0%;
  bottom: 0%;
  position: fixed;
  background-image: linear-gradient(to left, rgb(0, 83, 63), white, green);
  text-align: center;
}

.footer__div_icons--redes {
  width: 30px;
  cursor: pointer;
}

.footer__index__div--container {
  margin-top: 12px;
}

.footer__footer--p {
  margin-top: 6px;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer__div__a--link {
  text-decoration: none;
}

.main__img--images {
  width: 210px;
  height: 210px;
  transition: 0.5s;
  padding: 6px;
}

.main__img--images:hover {
  width: 240px;
  height: 240px;
}

.gallery__main--images {
  margin-top: 21px;
  text-align: center;
  margin-bottom: 120px;
}

@media (max-width: 991px) {
  .navbar-expand-lg {
    text-align: center;
  }
  .div__navbar__ul__li--a {
    border-radius: 42px;
  }
}
@media (max-width: 771px) {
  .about__main__container--contenido {
    display: block;
  }
}
@media (max-width: 600px) {
  .videos__article__div--videos {
    display: block;
    flex-direction: column;
    margin-top: 21px;
    margin-bottom: 120px;
  }
}
.nav__div--logo {
  width: 60px;
  margin-left: 12px;
}

.div__navbar__ul__li--a {
  font-size: 21px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  border-radius: 21%;
}

.nav__index--complete {
  background-image: linear-gradient(to right, rgb(0, 92, 230), yellow, green) !important;
}

.div__navbar__ul__li--a:hover {
  background-color: rgb(0, 124, 124);
}

.div__navbar__b--text:hover {
  color: white;
}

.videos__main--container {
  margin-top: 21px;
  text-align: center;
}

.videos__main__div--img {
  margin: 3px;
  border-radius: 12px;
}

.videos__article--container {
  margin-top: 21px;
  text-align: center;
}

.videos__article__div--videos {
  display: flex;
  justify-content: center;
}

.videos__article__div--iframe {
  margin-left: 12px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main__index--container {
  margin-top: 30px;
}

.index__main__div-img {
  width: 100%;
  height: 600px;
}

.card-img-overlay {
  width: 50%;
}

.index__main__div__img--text {
  text-align: center;
  font-size: 42px;
  color: white;
}

.index__main__div__img--p {
  text-align: center;
}

.index__article--container {
  margin-top: 21px;
}

.index__article--accordin {
  margin-top: 21px;
}

.index__article__two--images {
  margin-top: 21px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.index__div__card--img {
  width: 90%;
  height: 90%;
  transition: all 0.5s;
  margin-top: 12px;
}

.index__div__card--img:hover {
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

.index__aside--aside {
  margin-top: 21px;
  margin-bottom: 120px;
}

/*# sourceMappingURL=css.css.map */
