.contact__main__h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline rgb(152, 152, 240);
}

.contact__main__div--complete {
    margin-top: 21px;
    margin-bottom: 120px;
}

.contact__div__button--color {
    background-image: linear-gradient(to left, rgb(229, 255, 0), green, rgb(4, 32, 122)) !important;
    color: black;
}